<div>
    <div class="row row-centered">    
        <div class="col-md-8 col-centered btn-group btn-group-lg" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-class="{ active: menu.isSelected(1) }" ng-click="menu.selectTab(1)">
          	Active Players
          </button>
          <button type="button" class="btn btn-default" ng-class="{ active: menu.isSelected(2) }"ng-click="menu.selectTab(2)">
          	Women
          </button>
          <button type="button" class="btn btn-default" ng-class="{ active: menu.isSelected(3) }"ng-click="menu.selectTab(3)">
          	Juniors
          </button>
          <button type="button" class="btn btn-default" ng-class="{ active: menu.isSelected(4) }"ng-click="menu.selectTab(4)">All Players</button>
        </div>
    </div>
</div>